<div class="widget-ads widget">
	<h4 class="widget__title">LEARN MORE</h4>
	<div class="widget__content">
		<p><b><a href="https://www.cdut.edu.cn/index.htm">Chengdu University of Technology</a></b></p>
		<p><b><a href="https://sthjxy.cdut.edu.cn/info/1107/1690.htm">Researcher Huang Jin</a></b></p>
		<p><b><a href="https://sthjxy.cdut.edu.cn/info/1107/1690.htm">Wechat for Huang Jin</a></b></p>
		<p><b>E-mail : huangjin18@cdut.edu.cn</b></p>
		<p><b><a href="https://www.hieroglyphs.top/">Contact webmaster</a></b></p>
	</div>
</div>